h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.square {
  background: #fff;
  border: 1px solid #1191fa;
  /* float: center; */
  font-size: 100px;
  font-weight: bold;
  line-height: 100px;
  height: 150px;
  padding: 0;
  text-align: center;
  width: 150px;
  vertical-align: top;
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* display: flex; 
  justify-content: center;
  align-items: center; */
  border-radius: 10px;
}


.board-row {
  /* clear: both; */
  /* content: ''; */
  /* display: table; */
  display: flex;
  justify-content: center;
  /* align-items: center;
  float: center; */
}

.status {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.atmove {
  margin-bottom: 10px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.game-info {
  margin-left: 20px;
}

.button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #1191fa;
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  border: none;
  border-radius: 10px;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.temp {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}